

<div>
  <mat-card>
    <br /><br />
    <mat-divider></mat-divider>
    <br />
    {{ avgTimeData[urlIndex].url.split("^")[0] }}&nbsp;&nbsp;&nbsp;{{ avgTimeData[urlIndex].url.split("^")[1]}}
    <br /><br/><br/>
    <table mat-table [dataSource]="urlData[avgTimeData[urlIndex].url]">
      <ng-container matColumnDef="gtxnId">
        <th mat-header-cell *matHeaderCellDef>gtxn Id</th>
        <td mat-cell *matCellDef="let element">{{ element }}</td>
      </ng-container>

      <ng-container matColumnDef="Response_Status">
          <th mat-header-cell *matHeaderCellDef class="mat-column-right">
              Response_Status
          </th>
          <td mat-cell class="mat-column-right" *matCellDef="let element">
            {{ rawData[element].Mule.Response_Status }}
          </td>
        </ng-container>
      
        <ng-container matColumnDef="Response_Length">
            <th mat-header-cell *matHeaderCellDef class="mat-column-right">
                Response_Length
            </th>
            <td mat-cell class="mat-column-right" *matCellDef="let element">
              {{ rawData[element].Mule.Response_Length }}
            </td>
          </ng-container>
          <ng-container matColumnDef="TotalTransactionTimeMule">
              <th mat-header-cell *matHeaderCellDef class="mat-column-right">
                  TotalTransactionTimeNode
              </th>
              <td mat-cell class="mat-column-right" *matCellDef="let element">
                {{ rawData[element].Mule.TotalTransactionTime  | number: "1.0-3" }}
              </td>
            </ng-container>
      
            <ng-container matColumnDef="TotalTransactionTimeDB">
                <th mat-header-cell *matHeaderCellDef class="mat-column-right">
                    TotalTransactionTimeDB
                </th>
                <td mat-cell class="mat-column-right" *matCellDef="let element">
                  {{ rawData[element].DB.TotalTransactionTime | number: "1.0-3" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="TotalTransactionTimeAuth">
                  <th mat-header-cell *matHeaderCellDef class="mat-column-right">
                      TotalTransactionTimeAuth 
                  </th>
                  <td mat-cell class="mat-column-right" *matCellDef="let element">
                    {{ rawData[element].Auth.TotalTransactionTime | number: "1.0-3" }}
                  </td>
                </ng-container>

      <!-- <ng-container matColumnDef="mule">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">
          Mule
        </th>
        <td mat-cell class="mat-column-right" *matCellDef="let element">
          <table mat-table>
            <ng-container matColumnDef="Response_Status">
              <th mat-header-cell *matHeaderCellDef>Response_Status</th>
              <td mat-cell *matCellDef="let element">okay</td>
            </ng-container>
            <ng-container matColumnDef="Response_Length">
                <th mat-header-cell *matHeaderCellDef>Response_Length</th>
                <td mat-cell *matCellDef="let element">{{ element }}</td>
              </ng-container>
              <ng-container matColumnDef="TotalTransactionTime">
                  <th mat-header-cell *matHeaderCellDef>TotalTransactionTime</th>
                  <td mat-cell *matCellDef="let element">{{ element }}</td>
                </ng-container>
            <tr mat-header-row *matHeaderRowDef="muleDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: muleDisplayedColumns"></tr>
          </table>

        </td>
      </ng-container> -->

      

      <!-- <ng-container matColumnDef="DBAvgTime">
      <th mat-header-cell *matHeaderCellDef class="mat-column-right">
        Average DB Time
      </th>
      <td mat-cell class="mat-column-right" *matCellDef="let element">
        {{ element.DBAvgTime | number: "1.0-3" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="authAvgTime">
      <th mat-header-cell *matHeaderCellDef class="mat-column-right">
        Average Auth Time
      </th>
      <td mat-cell class="mat-column-right" *matCellDef="let element">
        {{ element.authAvgTime | number: "1.0-3" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="APIcount">
      <th mat-header-cell *matHeaderCellDef class="mat-column-right">
        API Count
      </th>
      <td mat-cell class="mat-column-right" *matCellDef="let element">
        {{ element.APIcount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="More details">
      <th mat-header-cell class="mat-column-right" *matHeaderCellDef>
        More details
      </th>
      <td mat-cell class="mat-column-right" *matCellDef="let element; let i = index;">
        <button mat-button color="primary" (click)="displayInfo(i)">Details</button>
      </td>
    </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <br /><br />
    <br />

    <mat-progress-spinner
      *ngIf="isLoading"
      style="margin:0 auto;"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>

    <br />
  </mat-card>
</div>
