.mat-header-cell{
    background-color:rgb(143, 215, 228);
  }
  
  table {
    width: 100%;
  }
  
  .mat-column-right {
    text-align: center;
  }
  .mat-header-cell {
    color: rgb(97, 11, 114);
  }